.galeria img {
  width: 100%;
}
.section {
  font-family: "Montserrat";
  font-weight: 800;
  color: white;
}
.section h1 {
  font-family: "Montserrat";
  font-weight: 900;
  color: white;
}

.bottom-text {
  position: absolute;
  bottom: 0;
  font-size: x-large;
  margin-bottom: 40px;
}

.bottom-text-title {
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
}

@media (max-width: 728px) {
  .bottom-text {
    position: absolute;

    text-align: center;
    font-size: small;
    bottom: 0;
  }
  .bottom-text-title {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    font-weight: 900;
  }
}
