@media (max-width: 728px) {
  .CardsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    justify-content: center
  }
  .d-flex {
    float: none;
  }
  li {
    align-items: center;
  }
}
@media (min-width: 728px) {
  .CardsInfo {
    width: auto;
    float: none;
    font-family: "Montserrat";
    font-weight: 500 !important;
    color: white;
  }
  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: none;
    width: auto;
  }
}

.cards {
  z-index: 99;
}

h1 {
  font-family: "Montserrat";
  font-weight: 800 !important;
  color: white;
}

.d-flex {
  float: left;
  padding: 10px;
  transition: transform 0.1s;
}
.d-flex:hover {
  transform: scale(1.05);
}
