.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 10);
}
.bottom-textt-hours {
  font-weight: 500;
}

.rowClass {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.contact-card {
  width: 20rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh; /* Ajusta la altura según tus necesidades */
}
@media screen and (max-width: 1375px) {
  .contact-container {
    /* Agrega tus estilos específicos para móvil aquí */
    /* Por ejemplo, puedes cambiar la altura o el padding */
    min-height: 50vh;
    display: block;
    padding-left: 10px;
    padding-top: 30px;
  }
  .contact-card {
    width: 18rem;
  }
}
@media screen and (max-width: 1195px) {
  .contact-container {
    /* Agrega tus estilos específicos para móvil aquí */
    /* Por ejemplo, puedes cambiar la altura o el padding */
    min-height: 50vh;
    display: block;
    padding-left: 10px;
    padding-top: 30px;
  }
  .contact-card {
    width: 15rem;
  }
}

/* Estilos para dimensiones móviles */
@media screen and (max-width: 768px) {
  .contact-container {
    /* Agrega tus estilos específicos para móvil aquí */
    /* Por ejemplo, puedes cambiar la altura o el padding */
    min-height: 50vh;
    display: block;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .contact-card {
    width: 21rem;
  }
}
