@media (max-width: 728px){
    .CardInfo{
        display: flex;  
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .d-flex{  
        float:none;   
    }
    li{
        align-items: center;
    }
    .cards {
        z-index: 99;
    }
}
.cards {
    z-index: 99;
}
@media (min-width: 728px){
    .CardInfo{
        width: 100%;
        float:none;
        
    }
    .cards {
        z-index: 99;
    }
    .d-flex{
        float:none;
        width: 33%;
        margin: 0.1% !important;
        padding: 1%;
    }
}
.d-flex{
    float: left;
    padding: 10px;
    margin: 0 35px;
    transition: transform .2s;
}
.d-flex:hover{
    transform: scale(1.1)
}