
@media (max-width: 1920px){
    .row{
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }
    nav{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    ul{
        width: 100%;
    }
   
}